*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--ff-main: 'Kumbh Sans', sans-serif;

	--fw-400: 400;
	--fw-700: 700;

	--fs-50: 0.6875rem;
	--fs-100: 0.75rem;
	--fs-200: 0.875rem;
	--fs-300: 0.9375rem;
	--fs-350: 1rem;
	--fs-400: 1.25rem;
	--fs-500: 1.5rem;
	--fs-600: 1.75rem;
	--fs-700: 2rem;
	--fs-800: 2.5rem;
	--fs-900: 3rem;
	--fs-1000: 3.5rem;

	--br-5: 5px;
	--br-10: 10px;
	--br-15: 15px;

	/* colors */
	--clr-orange: hsl(26, 100%, 55%);
	--clr-pale-orange: hsl(25, 100%, 94%);
	--clr-very-dark-blue: hsl(220, 13%, 13%);
	--clr-dark-greyish-blue: hsl(219, 9%, 45%);
	--clr-greyish-blue: hsl(220, 14%, 75%);
	--clr-light-greyish-blue: hsl(223, 64%, 98%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
}
body {
	font-family: var(--ff-main);
	font-weight: var(--fw-350);
}
h1,
h2,
h3,
h4,
span,
p {
	font-weight: inherit;
	font-size: inherit;
}
img,
svg,
video {
	width: 100%;
	display: block;
}
.flex {
	display: flex;
}
.container {
	width: 90%;
	max-width: 1000px;
	margin-inline: auto;
}
.bold {
	font-weight: var(--fw-700);
}
.btn {
	border: none;
	background-color: transparent;
	padding: 0.5rem;
}
.btn:hover,
.btn:focus {
	cursor: pointer;
}
.nav__container {
	width: 90%;
	max-width: 1200px;
}
.nav__content {
	height: 5rem;
	align-items: center;
	gap: 1rem;
}
.user_avatar {
	width: 1.75rem;
	border-radius: 50%;
}
.user_avatar:hover {
	outline: 2px solid var(--clr-orange);
}
.user_info {
	margin-left: auto;
	gap: 1rem;
	align-items: center;
}
.logo {
	width: 8rem;
}
.links_container {
	list-style: none;
	gap: 2rem;
	text-transform: capitalize;
	align-self: stretch;
	display: none;
}
.single_link {
	align-self: stretch;
	position: relative;
	isolation: isolate;
}
.single_link::after {
	content: '';
	position: absolute;
	inset: 0;
	border-bottom: 4px solid var(--clr-orange);
	visibility: hidden;
	z-index: -1;
}
.single_link:hover::after {
	visibility: visible;
}
.single_link a {
	text-decoration: none;
	color: var(--clr-dark-greyish-blue);
	align-items: center;
}
.cart_btn {
	position: relative;
}
.cart_counter {
	position: absolute;
	padding: 0 0.45rem;
	border-radius: 10rem;
	background-color: var(--clr-orange);
	color: var(--clr-white);
	font-size: var(--fs-50);
	inset: 0 0 auto auto;
}
.sidebar_btn {
	width: 2rem;
	aspect-ratio: 1;
	margin-bottom: -0.2rem;
	margin-left: -0.5rem;
}
@media screen and (width > 900px) {
	.user_avatar {
		width: 3rem;
	}
	.nav__content {
		gap: 4rem;
		border-bottom: 1px solid var(--clr-greyish-blue);
		height: 7rem;
	}
	.links_container {
		margin-left: 1rem;
		display: flex;
	}
	.sidebar_btn {
		display: none;
	}
	.user_info {
		gap: 2rem;
	}
	.logo {
		width: 10rem;
	}
}
/* sidebar */
.sidebar {
	inset: 0;
	min-height: 100dvh;

	width: 60dvw;
	border: none;
	z-index: 10;
}
.sidebar::backdrop {
	background-color: hsl(0, 0%, 0%, 0.4);
}
.sidebar_content {
	padding: 1.5rem 0;
	gap: 4rem;
}
.sidebar_close_btn {
	width: 2.15rem;
	margin-left: 0.75rem;
}
.grid {
	display: grid;
}
.sidebar_links_container {
	gap: 0;
}
.sidebar_single_link {
	transition: all 200ms ease-in;
	height: 3rem;
	padding-left: 1.5rem;
	cursor: pointer;
	font-size: var(--fs-400);
}
.sidebar_single_link a {
	color: var(--clr-black);
	width: 100%;
}
.sidebar_single_link:hover {
	padding-left: 2.5rem;
	background-color: var(--clr-pale-orange);
}
.sidebar_single_link:hover::after {
	display: none;
}
/* product info */
.product_info_container {
	padding: 1.5rem 0;
	gap: 1rem;
}
.company_title {
	color: var(--clr-orange);
	text-transform: uppercase;
	font-size: var(--fs-100);
	font-size: var(--fs-200);
	letter-spacing: 1px;
}
.product_title {
	font-size: var(--fs-600);
}
.product_description {
	color: var(--clr-dark-greyish-blue);
	line-height: 1.65rem;
}
.product_price_container {
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
}
.space_out {
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}
.price {
	font-size: var(--fs-600);
}
.discount {
	color: var(--clr-orange);
	background-color: var(--clr-pale-orange);
	padding: 0.2rem 0.45rem;
	border-radius: var(--br-5);
}
.full_price {
	color: var(--clr-greyish-blue);
	text-decoration: line-through;
}
.purchase_options {
	gap: 1rem;
}
.amount_options {
	align-items: center;
	justify-content: space-between;
	background-color: var(--clr-light-greyish-blue);
	border-radius: var(--br-10);
}
.amount_increase_btn {
	padding: 1.5rem 1.5rem 1.5rem 3rem;
}
.amount_decrease_btn {
	padding: 1.5rem 3rem 1.5rem 1.5rem;
}
.add_to_cart_btn {
	background-color: var(--clr-orange);
	border-radius: var(--br-10);
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: var(--clr-white);
	padding: 1.25rem;
	font-size: var(--fs-350);
	box-shadow: 0px 15px 10px -2px var(--clr-pale-orange);
}
.add_to_cart_btn:hover {
	opacity: 0.8;
}
.cart_svg {
	width: auto;
}
.hidden {
	display: none;
}
@media screen and (width > 900px) {
	.company_title {
		letter-spacing: 2px;
	}
	.product_title {
		font-size: var(--fs-800);
	}
	.product_price_container {
		flex-direction: column;
		align-items: start;
		gap: 1rem;
	}
}
@media screen and (width > 1100px) {
	.product_info {
		display: flex;
		align-items: center;
	}
	.amount_increase_btn {
		padding: 1.5rem;
	}
	.amount_decrease_btn {
		padding: 1.5rem;
	}
	.purchase_options {
		grid-template-columns: 10rem 1fr;
	}
}
/* cart */
.cart_dialog {
	inset: 5.5rem 0 0 0;
	z-index: 9;
	border: none;
	width: 100%;
	font-weight: var(--fw-700);
	background-color: transparent;
}
.cart_container {
	margin-inline: auto;
	margin-left: auto;
	border-radius: var(--br-10);
	box-shadow: 0px 10px 10px 5px hsl(0, 0%, 0%, 0.2);
	background-color: var(--clr-white);
	width: 95%;
}
.cart_header {
	border-bottom: 1px solid var(--clr-greyish-blue);
	padding: 1.5rem 1.5rem;
}
.cart_content {
	padding: 1.5rem 1.5rem 3rem;
	gap: 2rem;
}
.centered {
	color: var(--clr-dark-greyish-blue);
	place-content: center;
	min-height: 8rem;
}
.cart_product_info {
	grid-template-columns: 3rem 1fr 2rem;
}
.cart_product_image img {
	border-radius: var(--br-5);
}
.cart_product_info_content {
	flex-direction: column;
	color: var(--clr-dark-greyish-blue);
	font-weight: var(--fw-400);
	justify-content: space-between;
	margin-left: 0.75rem;
}
.cart_product_total {
	gap: 0.4rem;
}
.cart_total_price {
	color: var(--clr-black);
}
.cart_delete_btn {
	padding: 0.5rem 0 0.5rem 1rem;
}
.cart_checkout_btn {
	background-color: var(--clr-orange);
	border-radius: var(--br-10);
	padding: 1rem;
	color: var(--clr-white);
	font-size: var(--fs-350);
}
@media screen and (width > 900px) {
	.cart_dialog {
		inset: 8rem 0 0 0;
		margin-inline: auto;
		width: 90%;
		max-width: 1200px;
	}
	.cart_container {
		margin-inline: 0;
		max-width: 400px;
		margin-left: auto;
	}
}
/* photos */
.carousel {
	width: 100%;
	aspect-ratio: 1/1;
	position: relative;
}
ul {
	list-style: none;
}
.slide {
	position: absolute;
	inset: 0;
	opacity: 0;
	transition: 200ms opacity ease-in-out;
	transition-delay: 200ms;
}
.slide[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: 0ms;
}
.slide > img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.carousel_btn {
	position: absolute;
	top: 50%;
	z-index: 5;
	transform: translateY(-50%);
	background-color: var(--clr-white);
	border-radius: 50%;
	display: grid;
	place-content: center;
	height: 3rem;
	width: 3rem;
	color: var(--clr-black);
}
.carousel_btn:hover {
	color: var(--clr-orange);
}
.prev {
	left: 1rem;
}
.next {
	right: 1rem;
}
.thumbnails {
	display: none;
}
.thumbnails_container {
	padding: 2.5rem 0;
}
.thumbnails_list {
	gap: 2rem;
}
.single_thumbnail {
	overflow: hidden;
	border-radius: var(--br-10);
	cursor: pointer;
	background-color: var(--clr-white);
	position: relative;
}
.single_thumbnail::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: hsl(0, 0%, 100%, 0.4);
	visibility: hidden;
}
.single_thumbnail:hover:not([data-thumbnail-active])::after {
	visibility: visible;
}
[data-thumbnail-active] {
	outline: 2px solid var(--clr-orange);
}
[data-thumbnail-active] img {
	opacity: 0.3;
}
@media screen and (width > 900px) {
	.main_content_container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 1200px;
		width: 90%;
		margin-inline: auto;
		padding: 5rem 3.5rem;
		gap: 6rem;
	}
	.slide {
		overflow: hidden;
		border-radius: var(--br-15);
	}
	.carousel:hover {
		cursor: pointer;
	}
	.thumbnails {
		display: block;
	}
	.prev,
	.next {
		display: none;
	}
}
.zoom_container {
	inset: 0;
	margin: auto;
	width: 50rem;
	border: none;
	background-color: transparent;
	padding: 4rem;
}
.zoom_container::backdrop {
	background-color: hsl(0, 0%, 0%, 0.7);
}
.zoom_container:focus {
	outline: none;
}
.zoom_container .prev {
	display: grid;
	left: 0;
	transform: translateY(-50%) translateX(-50%);
}
.zoom_container .next {
	display: grid;
	right: 0;
	transform: translateY(-50%) translateX(50%);
}
.zoom_close_btn {
	color: var(--clr-white);
	margin-left: auto;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 4rem;
	width: 3rem;
	aspect-ratio: 1;
	align-items: center;
	justify-content: end;
	outline: none;
}
.zoom_close_btn svg {
	scale: 1.5;
}
.zoom_close_btn:hover {
	color: var(--clr-orange);
}
.zoom_container .thumbnails_container {
	padding: 2.5rem 5rem;
}
